#**Information Retrieval CSF469**
##Lab Session - 2
## Date - 31/01/2024
##<font color ='GREEN'>Marks: 10</font>
In this lab session, we implement standard boolean query retrivel.

## Students have to write their code in blank spaces marked under <font color = "RED">TO-DO</font> section

You are given documents relating to two companies, A and B. You are required to create a standard boolean retrieval system to retrieve the relevant documents in the dataset that satisfy the conditions given in the query.

In [ ]:
import pandas as pd

#<font color = "RED">TO-DO</font> (1 mark)

In [ ]:
dataset = ________ #read dataset

In [ ]:
print(dataset)

                                                 title     label
0    Avantel Limited Announces Resignation of Ebv R...   Avantel
1    480% Returns From 1-Year Low: Multibagger Defe...   Avantel
2    Multibagger defence stock rises 5% on Rs 68 cr...   Avantel
3    Avantel Ltd receives order worth Rs. 67.92 cro...   Avantel
4    Rs 11 to Rs 129: This defence stock turned int...   Avantel
..                                                 ...       ...
157  Titagarh Rail Systems rolls out new diving sup...  Titagarh
158  Titagarh Rail shares fall 10% from record high...  Titagarh
159  Rs 49 to Rs 813: This railway stock turned int...  Titagarh
160  Škoda Group secures €732m contract with Trenit...  Titagarh
161  Titagarh Rail Share Price: Stock at record hig...  Titagarh

[162 rows x 2 columns]

In [ ]:
df = dataset.iloc[:, 0]
df2 = dataset.iloc[:, -1]

In [ ]:
print(df)
df2 = df2.to_frame()
print(df2)

0      Avantel Limited Announces Resignation of Ebv R...
1      480% Returns From 1-Year Low: Multibagger Defe...
2      Multibagger defence stock rises 5% on Rs 68 cr...
3      Avantel Ltd receives order worth Rs. 67.92 cro...
4      Rs 11 to Rs 129: This defence stock turned int...
                             ...
157    Titagarh Rail Systems rolls out new diving sup...
158    Titagarh Rail shares fall 10% from record high...
159    Rs 49 to Rs 813: This railway stock turned int...
160    Škoda Group secures €732m contract with Trenit...
161    Titagarh Rail Share Price: Stock at record hig...
Name: title, Length: 162, dtype: object
        label
0     Avantel
1     Avantel
2     Avantel
3     Avantel
4     Avantel
..        ...
157  Titagarh
158  Titagarh
159  Titagarh
160  Titagarh
161  Titagarh

[162 rows x 1 columns]

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string

In [ ]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
stop_words = set(stopwords.words('english'))

##<font color = "RED">TO-DO</font>  (2 marks)

In [ ]:
def preprocess_text(text):
    # Tokenize the text
    tokens = word_tokenize(text)

    # Remove punctuation and convert to lower case
    tokens = [word.lower() for word in tokens if word.isalpha()]

    # The above line removes the numeric values in text. Make changes in the above line so as to keep numeric values in text as well
          #write your new code line here and comment the above line
          ___________________

    # Remove stop words
    tokens = [________________________]#TO-DO

    return tokens

In [ ]:
processed_data = df.apply(preprocess_text)

In [ ]:
print(processed_data)

0      [avantel, limited, announces, resignation, ebv...
1      [returns, low, multibagger, defence, stock, le...
2      [multibagger, defence, stock, rises, rs, crore...
3      [avantel, ltd, receives, order, worth, rs, cro...
4      [rs, rs, defence, stock, turned, multibagger, ...
                             ...
157    [titagarh, rail, systems, rolls, new, diving, ...
158    [titagarh, rail, shares, fall, record, high, r...
159    [rs, rs, railway, stock, turned, multibagger, ...
160    [škoda, group, secures, contract, trenitalia, ...
161    [titagarh, rail, share, price, stock, record, ...
Name: title, Length: 162, dtype: object

#<font color = "RED">TO-DO</font> (2 marks)

In [ ]:
# Define the inverted index dictionary
inverted_index = {}

# Iterate through each document and its processed tokens
for doc_id, tokens in enumerate(processed_data):
    _________________________
    __________________________
    __________________________

In [ ]:
# for word, doc_ids in inverted_index.items():
#     print(f"{word}: {list(doc_ids)}")

#<font color = "RED">TO-DO</font> (3 marks)

In [ ]:
def boolean_query(query, inverted_index, df):
    # Tokenize the query into words and operators
    query_parts = query.lower().split()

    # Separate words and operators
    # Assuming query is of the format 'A and/or B and/or C..'
    words = preprocess_text(query)
    operators = [token for token in query_parts if token in ["and", "or"]]

    # Initialize result with the document set of the first word
    # Assuming words are already preprocessed
    result_set = set(inverted_index.get(words[0], []))


    # Iterate over the remaining words and apply boolean operations
    for i, operator in enumerate(operators):
        #write code here
        _____________
        _____________
        _____________

    # Fetch the document data for each ID in the result set
    document_data = df.iloc[list(result_set)]

    return document_data

In [ ]:
query = input("Enter a boolean query with optional labels (e.g., 'word1 AND word2 OR avantel word3'): ")
resulting_set = boolean_query(query, inverted_index, df)
print(f"Documents satisfying '{query}':\n{resulting_set}")

Enter a boolean query with optional labels (e.g., 'word1 AND word2 OR avantel word3'): app
['app']
Documents satisfying 'app':
Series([], Name: title, dtype: object)

#<font color = "RED">TO-DO</font> (2 marks)
Print the results of following queries.

Query1: Avantel and order or book

Query2: Titagarh and intrnational or business or client

Query3: Findout the international clients of company avantel (first convert query into proper format as above, such that Recall is maximised)

In [ ]:
# write your code