#**Information Retrieval CSF469**
##Lab Session - 3
## Date - 07/02/2024
##<font color ='GREEN'>Marks: 10</font>
In this lab session, we implement label sensitive boolean query retrivel.

## Students have to write their code in blank spaces marked under <font color = "RED">TO-DO</font> section

### After attempting the lab sheet, please rename the file as "NAME_ID.ipynb" and then upload it on canvas

You are given documents relating to two companies, A and B. You are required to upgrade the standard boolean retrieval system to improve the accuracy of retrieving documents given the labels that if they belong to the company A or B. For eg. if the query consists of the name ‘A’, the query should only return documents belonging to company A even if some documents of company B also match the full query.

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('IRdata.csv')
# Dataset is now stored in a Pandas Dataframe

In [ ]:
print(dataset)

                                                 title     label
0    Avantel Limited Announces Resignation of Ebv R...   Avantel
1    480% Returns From 1-Year Low: Multibagger Defe...   Avantel
2    Multibagger defence stock rises 5% on Rs 68 cr...   Avantel
3    Avantel Ltd receives order worth Rs. 67.92 cro...   Avantel
4    Rs 11 to Rs 129: This defence stock turned int...   Avantel
..                                                 ...       ...
157  Titagarh Rail Systems rolls out new diving sup...  Titagarh
158  Titagarh Rail shares fall 10% from record high...  Titagarh
159  Rs 49 to Rs 813: This railway stock turned int...  Titagarh
160  Škoda Group secures €732m contract with Trenit...  Titagarh
161  Titagarh Rail Share Price: Stock at record hig...  Titagarh

[162 rows x 2 columns]

In [ ]:
df_news = dataset.iloc[:, 0]
df_labels = dataset.iloc[:, -1]

In [ ]:
print(df_news)
df_labels = df_labels.to_frame()
print(df_labels)

0      Avantel Limited Announces Resignation of Ebv R...
1      480% Returns From 1-Year Low: Multibagger Defe...
2      Multibagger defence stock rises 5% on Rs 68 cr...
3      Avantel Ltd receives order worth Rs. 67.92 cro...
4      Rs 11 to Rs 129: This defence stock turned int...
                             ...
157    Titagarh Rail Systems rolls out new diving sup...
158    Titagarh Rail shares fall 10% from record high...
159    Rs 49 to Rs 813: This railway stock turned int...
160    Škoda Group secures €732m contract with Trenit...
161    Titagarh Rail Share Price: Stock at record hig...
Name: title, Length: 162, dtype: object
        label
0     Avantel
1     Avantel
2     Avantel
3     Avantel
4     Avantel
..        ...
157  Titagarh
158  Titagarh
159  Titagarh
160  Titagarh
161  Titagarh

[162 rows x 1 columns]

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string

In [ ]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
stop_words = set(stopwords.words('english'))

In [ ]:
def preprocess_text(text):
    # Tokenize the text
    tokens = word_tokenize(text)

    tokens = [word.lower() for word in tokens if word.isalnum()]

    tokens = [word for word in tokens if word not in stop_words]#TO-DO

    return tokens

In [ ]:
processed_data = df_news.apply(preprocess_text)

In [ ]:
print(processed_data)

0      [avantel, limited, announces, resignation, ebv...
1      [480, returns, low, multibagger, defence, stoc...
2      [multibagger, defence, stock, rises, 5, rs, 68...
3      [avantel, ltd, receives, order, worth, rs, cro...
4      [rs, 11, rs, 129, defence, stock, turned, mult...
                             ...
157    [titagarh, rail, systems, rolls, new, diving, ...
158    [titagarh, rail, shares, fall, 10, record, hig...
159    [rs, 49, rs, 813, railway, stock, turned, mult...
160    [škoda, group, secures, contract, trenitalia, ...
161    [titagarh, rail, share, price, stock, record, ...
Name: title, Length: 162, dtype: object

In [ ]:
# Define the inverted index dictionary
inverted_index = {}

#to-do
# Iterate through each document and its processed tokens
for doc_id, tokens in enumerate(processed_data):
    for token in tokens:
        # If the token is not already in the dictionary, add it
        if token not in inverted_index:
            inverted_index[token] = set()

        # Add the document ID to the set of documents for this token
        inverted_index[token].add(doc_id)

In [ ]:
for word, doc_ids in inverted_index.items():
    print(f"{word}: {list(doc_ids)}")

In [ ]:
def boolean_query(query, inverted_index, df_news):
    # Tokenize the query into words and operators
    query_parts = query.lower().split()

    # Separate words and operators
    # words = [token for token in query_parts if token not in ["and", "or"]]
    words = preprocess_text(query)
    operators = [token for token in query_parts if token in ["and", "or"]]

    #to-do
    #sample queries, 1) Avantel and order or book, 2) Titagarh and international or business or client, 3) findout the internation clients of company avantel
    #query optimization
    #Check if the query is well-formed

    if not words or len(words) - 1 != len(operators):
        return "Invalid query format."

    # Initialize result with the document set of the first word
    # Assuming words are already preprocessed
    result_set = set(inverted_index.get(words[0], []))


    #todo iterate
    # Iterate over the words and apply boolean operations
    for i, operator in enumerate(operators):
        next_word_docs = set(inverted_index.get(words[i + 1], []))

        if operator == "and":
            result_set &= next_word_docs
        elif operator == "or":
            result_set |= next_word_docs

    return result_set
    # return result_set

#<font color = "RED">TO-DO</font> (10 marks)

In [ ]:
def label_enhanced_boolean_query(query, inverted_index, df_news, df_labels):
    # Convert query to lower case and split into components
    query_parts = query.lower().split()

    # Using the fucntion defined above, implement the label specific query retrieval system.
    ___________
    ___________
    ___________
    ___________
    return result_set

In [ ]:
query = input("Enter a boolean query with optional labels (e.g., 'word1 AND word2 OR avantel word3'): ")
resulting_set = label_enhanced_boolean_query(query, inverted_index, df_news, df_labels)
print(f"Documents satisfying '{query}':\n{resulting_set}")

Enter a boolean query with optional labels (e.g., 'word1 AND word2 OR avantel word3'): vantel and order or book
['vantel', 'and', 'order', 'or', 'book']
['vantel', 'order', 'book']
Documents satisfying 'vantel and order or book':
Series([], Name: title, dtype: object)

Print the results of following queries.

Query1: avantel or share or defence

Query2: crore or sales and titagarh