## Information Retrieval CSF469
##Lab Session - 1
## Date - 24/01/2024
##<font color ='GREEN'>Non-Evaluative</font>
In this lab session, we introduce and explore numpy and pandas libraries.

## Students have to write their code in blank spaces marked under <font color = "RED">TO-DO</font> section

# Numpy

## What is NumPy?
- NumPy, an acronym for "Numerical Python," is a Python package.
- It is the primary library for scientific computing and includes a robust n-dimensional array object.
- Additionally, it helps with random number generation, linear algebra, etc.
- Useful functions for linear algebra, Fourier transform, and random numbers.
- A NumPy array can also be employed as a productive multi-dimensional generic data container.

## Keypoints
- NumPy arrays have a fixed size at creation, unlike Python lists(which can grow dynamically).
- Changing the size of an `ndarray` will create a new array and delete the original.
- The elements in a NumPy array are all required to be of the same data type and thus will be the same size in memory(**Homogenous**)
- NumPy arrays facilitate advance mathematical and other types of operations on large numbers of data(**Faster**)

## NumPy Array
Numpy array is a powerful N-dimensional array object which is in the form of rows and columns. We can initialize numpy arrays from nested Python lists and access it elements. In order to perform these numpy operations.

## N-dimensional Array
- 1Dimensional(1D) Array
- 2Dimensional(2D) Array
- 3Dimensional(3D) Array


![image.png]()

## Why Numpy?
- Less Memory
- Fast
- Convenient

## Why NumPy is Fast?
__Vectorization__

Vectorization describes the absence of any explicit looping, indexing etc; in the code-these things are taking place, of course, just behind the scenes in optimized, pre-compiled C code.

__Broadcasting__

The term broadcasting describes how NumPy treats arrays with different shapes during arithmetic operations. Subject to certain constrains, the smaller array is "broadcast" across the larger array so that they have compatible shapes.

**Installing NumPy**

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)

**How to import NumPy**

In [ ]:
import numpy as np

### Array - Create, print length, slicing array, iterating an array

In [ ]:
# create array 1D and 2D
arr1D = np.array([1, 2, 3, 4])
print(arr1D)

zeros_arr = np.zeros(10) # creates an array of zeros
print(zeros_arr)

ones_arr = np.ones(10)  # creates an array of ones
print(ones_arr)

rand_arr  = np.random.random(10)  # creates a random array of size 10; elements lie between 0 and 1
print(rand_arr)

iden_arr = np.eye(3) # creates a 3x3 identity matrix
print(iden_arr)

# create an array of size similar to iden_arr with all elements as 5.
arr_of_5 = np.full_like(iden_arr, 5)

[1 2 3 4]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[0.10001682 0.97992256 0.50255004 0.93091759 0.19741312 0.16977666
 0.59836459 0.70714795 0.90653529 0.46155591]
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [ ]:
# create an array with elements between 0 and some number, 4 here.
range_arr = np.arange(4)
print(range_arr)

[0 1 2 3]

In [ ]:
#print length
print(len(arr1D))
print(arr1D.size)

# Slicing 1D array
print(arr1D[2:4])

# iterating array
for i in arr1D:
    print(i)

4
4
[3 4]
1
2
3
4

In [ ]:
# create 2-Dimensional array
arr2D = np.array([ [1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12] ])
print(arr2D)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

#<font color = "RED"> TO-DO </font>

In [ ]:
print(____________)  # print number of elements in arr2D ;
print(____________)  # print the shape of arr2D;

In [ ]:
#slicing 2D array
print(arr2D[:2,1:])
print(arr2D[:,:2])  # print first two columns
print(arr2D[2])  # print row with index 2

[[2 3 4]
 [6 7 8]]
[[ 1  2]
 [ 5  6]
 [ 9 10]]
[ 9 10 11 12]

 array from excel

Reshaping an array

In [ ]:
A = np.arange(12)  # creates a 1D of size 12
print(A)

# Reshape array A into a 3*4 matrix
A = A.reshape((3,4))
print(A)

# Reshape 'A' into an array with 2 rows and the appropriate number of columns
A =  A.reshape((2,-1))
print(A)

# Now convert the two dimensional array back to one dimensional
A = A.flatten()
print(A)

[ 0  1  2  3  4  5  6  7  8  9 10 11]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]]
[ 0  1  2  3  4  5  6  7  8  9 10 11]

Some more operations on arrays

In [ ]:
print(arr2D)
print(arr2D.min()) #find minimum in array

# Find the maximum value of each row.
print(arr2D.max(axis = 1))

# Compute the sum of each column.
print(arr2D.sum(axis=0))

# Transpose the arr2D array
print(arr2D.T)

arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])
# sort the numbers in ascending order
print(np.sort(arr))

# Column-wise normalize array - sum of each column is 1
Arr_norm = arr2D/(arr2D.sum(axis=0))
Arr_norm

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
1
[ 4  8 12]
[15 18 21 24]
[[ 1  5  9]
 [ 2  6 10]
 [ 3  7 11]
 [ 4  8 12]]
[1 2 3 4 5 6 7 8]

array([[0.06666667, 0.11111111, 0.14285714, 0.16666667],
       [0.33333333, 0.33333333, 0.33333333, 0.33333333],
       [0.6       , 0.55555556, 0.52380952, 0.5       ]])

In [ ]:
# create an array with elements [1,2,3,1,1,2,3,4,3,4,2,1] and then print the unique elements in array. Also print the count of each unique element in array
array = np.array([1,2,3,1,1,2,3,4,3,4,2,1])
unique_ele, count = np.unique(array, return_counts = True)
print(unique_ele, count)

[1 2 3 4] [4 3 3 2]

## Lists : A list is the Python equivalent of an array, but is resizeable and can contain elements of different types

In [ ]:
L1 = [3, 1, 2]    # Create a list
print(L1)
print(L1[2])      # Prints element at index 2
print(L1[-1])     # Negative indices count from the end of the list;

L1.append(4)  # Add a new element to the end of the list
print(L1)

x = L1.pop()      # Remove and return the last element of the list
print(L1,x)

[3, 1, 2]
2
2
[3, 1, 2, 4]
[3, 1, 2] 4

**What’s the difference between a Python list and a NumPy array?**

NumPy gives you an enormous range of fast and efficient ways of creating arrays and manipulating numerical data inside them. While a Python list can contain different data types within a single list, all of the elements in a NumPy array should be homogeneous. The mathematical operations that are meant to be performed on arrays would be extremely inefficient if the arrays weren’t homogeneous. NumPy arrays are faster and more compact than Python lists. An array consumes less memory and is convenient to use. NumPy uses much less memory to store data.

One more major difference in Python List and NumPy array is that Python list is mutable and its size can be changed on the run (addition and deletion of elements is allowed), whereas NumPy array is immutable.

**NumPy arrays behave differently with respect to the binary arithmetic operators + and * than Python lists do. For lists, + concatenates two lists and * replicates a list by a scalar amount. In contrast, these operations are component-wise for NumPy arrays.**

In [ ]:
x = [1, 2, 3]  # python list
y = [4, 5, 6]  # python list
print(x + y)
print(x * 5)

a = np.array([1, 2, 3])
b =  np.array([4, 5, 6])
print(a + b)
print(a * 5)    # This operation is known as Broadcasting
print(a * b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[5 7 9]
[ 5 10 15]
[ 4 10 18]

#<font color = "RED"> TO-DO </font>

In [ ]:
# now explore both arrays in above cell for subtraction and divison operations
          # write your code here

## Dictionaries: A dictionary stores (key, value) pairs,

In [ ]:
Dict = {'BITS': 'Pilani', 'IIT': 'Delhi'}  # Create a new dictionary with some data
print(Dict['BITS'])       # Get an entry from a dictionary; prints "Pilani"
print('BITS' in Dict)     # Check if a dictionary has a given key; prints "True"

Dict['NIT'] = 'Trichy'     # Set an entry in a dictionary
print(Dict['NIT'])      # Prints "Trichy"
print(Dict.get('NIT', 'N/A'))    # Get an element, if elements exits, prints its value else N/A..  prints "Trichy"
del Dict['NIT']         # Remove an element from a dictionary
print(Dict.get('NIT', 'N/A')) # prints N/A

Pilani
True
Trichy
Trichy
N/A

# Pandas


# What is Pandas?

###Pandas is a Python library designed for data manipulation and analysis. It provides high-performance, easy-to-use data structures such as Series and DataFrame, which are built on top of the NumPy library. Here are some key points about Pandas:

*   Pandas allows for easy indexing, slicing, and filtering of data.
*   It provides functions for reshaping, merging, and aggregating data.
*   Missing Data Handling
*   Pandas supports the splitting of data into groups based on some criteria using groupby().
*   Pandas supports reading and writing data from/to various file formats, including CSV, Excel, SQL databases, and more.

**Installing Pandas**

In [ ]:
!pip install pandas

**Importing Pandas**

In [ ]:
# importing pandas
import pandas as pd

**Creating Data Frame, printing and describing**

In [ ]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [ ]:
# Display the first five rows of the DataFrame
print(df.head())
# Display the last five rows of the DataFrame
# print(df.tail())

# Display basic statistics of the data
print(df.describe())

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

**Some functions on columns**
## <font color = "red"> TO-DO</font>

In [ ]:
# Selecting a single column
age_column = df['Age']

# Selecting multiple columns. Select Age and City columns
# subset = df[__________] TO-DO

# Selecting rows based on a condition
filtered_data = df[df['Age'] > 30]

print(age_column)
# print(subset)
print(filtered_data)

0    25
1    30
2    35
Name: Age, dtype: int64
      Name  Age         City
2  Charlie   35  Los Angeles

In [ ]:
# Sort DataFrame by values in a column.
df.sort_values('Age', ascending=False)

      Name  Age           City
2  Charlie   35    Los Angeles
1      Bob   30  San Francisco
0    Alice   25       New York

**Adding and dropping a column**

In [ ]:
# Adding a new column
df['Salary'] = [50000, 60000, 70000]
print(df)

#intialise a column with a single value
df['example'] = 1
print(df)

#adding column with random values
df['RandomValues'] = np.random.rand(len(df))

#unique values in each column and frequency
example_counts = df['example'].value_counts()
Salary_counts = df['Salary'].value_counts()

print(example_counts)
print(Salary_counts)

# Removing a column
df.drop('City', axis=1, inplace=True)
print(df)

      Name  Age           City  Salary
0    Alice   25       New York   50000
1      Bob   30  San Francisco   60000
2  Charlie   35    Los Angeles   70000
      Name  Age           City  Salary  example
0    Alice   25       New York   50000        1
1      Bob   30  San Francisco   60000        1
2  Charlie   35    Los Angeles   70000        1
1    3
Name: example, dtype: int64
50000    1
60000    1
70000    1
Name: Salary, dtype: int64
      Name  Age  Salary  example  RandomValues
0    Alice   25   50000        1      0.974537
1      Bob   30   60000        1      0.620667
2  Charlie   35   70000        1      0.232135

**Grouping and merging of data**

In [ ]:
# Grouping by 'City' and calculating the average age
grouped_data = df.groupby('Salary')['Age'].mean()

print(grouped_data)

Salary
50000    25.0
60000    30.0
70000    35.0
Name: Age, dtype: float64

In [ ]:
#concatenation
data2 = data = {'Name': ['Alice', 'Bob', 'Delta'],
        'Age': [25, 30, 29],
        'City': ['New York', 'San Francisco', 'Las Vegas']}

df2 = pd.DataFrame(data2)

# Concatenate DataFrames along rows.
df3 = pd.concat([df, df2], axis=0)

# Concatenate DataFrames along columns.
df4 = pd.concat([df, df2], axis=1)

# Merge two DataFrames based on a common column.
df5 = pd.merge(df, df2, on='Name')

print(df3)
print(df4)
print(df5)

      Name  Age   Salary           City
0    Alice   25  50000.0            NaN
1      Bob   30  60000.0            NaN
2  Charlie   35  70000.0            NaN
0    Alice   25      NaN       New York
1      Bob   30      NaN  San Francisco
2    Delta   29      NaN      Las Vegas
      Name  Age  Salary   Name  Age           City
0    Alice   25   50000  Alice   25       New York
1      Bob   30   60000    Bob   30  San Francisco
2  Charlie   35   70000  Delta   29      Las Vegas
    Name  Age_x  Salary  Age_y           City
0  Alice     25   50000     25       New York
1    Bob     30   60000     30  San Francisco

**Dealing with missing information**

In [ ]:
# Drop rows with missing values
df3.dropna(inplace=True)

# Fill missing values with a specific value i.e. 0 here
df3.fillna(0, inplace=True)

print(df3)

Empty DataFrame
Columns: [Name, Age, Salary, City]
Index: []

**Handling date and time**

In [ ]:
# Adding date column
df['Date'] = pd.date_range(start='2024-01-01', periods=3, freq='D')

# Adding a new column with day of the week
df['Day_of_Week'] = df['Date'].dt.day_name()
print(df)

      Name  Age  Salary       Date Day_of_Week
0    Alice   25   50000 2024-01-01      Monday
1      Bob   30   60000 2024-01-02     Tuesday
2  Charlie   35   70000 2024-01-03   Wednesday

##### Some more functions on date and time:
1.   **pd.to_datetime(df['date_column'])**: Convert a column to datetime type.
2.   **df['date_column'].dt.year, df['date_column'].dt.month, etc.**: Extract components of a datetime column.

**Reading data from a file**

In [ ]:
# Reading data from a CSV file
new_df = pd.read_csv('your_data.csv')
# Reading data from a excel file
df = pd.read_excel('your_data.xlsx')

# Writing data to a CSV file
df.to_csv('output_data.csv', index=False)
# Writing data to a excel file
df.to_excel('output_data.xlsx', index=False)

## **Some more important functions**
**Statistical Functions:**
1.   **df.mean(), df.median(), df.std()**: Calculate mean, median, and standard deviation.
2.   **df.corr()**: Calculate pairwise correlation between columns.



**Handling Duplicates:**
1.   **df.duplicated()**: Identify duplicate rows.
2.   **df.drop_duplicates()**: Remove duplicate rows.

#<font color ='RED'>Exercise: TO-DO</font>
- **Q1.** Create an array of all the even integers from 20 to 50
-**Q2.** Create a 4x4 matrix with values ranging from 0 to 16.  # HINT: use np.arange()
-**Q3.** Write code using the array in Q2, that reproduces the output given below. # HINT: Perform slicing on array.

[[ 8  9]\
 [12 13]]

- **Q4.** Create a random integer NumPy array of shape (5, 5) and replace all elements greater than 5 with the mean of the array.

* **DATA_FOR_Q5**: {'Category': ['Groceries', 'Electronics', 'Clothing', 'Electronics', 'Books', 'Clothing', 'Groceries', 'Books', 'Electronics', 'Clothing','Groceries', 'Books', 'Books', 'Clothing', 'Electronics'],'Amount': [50, 120, 30, 80, 25, 40, 35, 60, 90, 20, 45, 15, 75, 35, 100]}
* **Q5a.** Given a Pandas DataFrame with columns 'Category' and 'Amount,' print a table with total amount spent in each category.

* **Q5b.** For the table made in Q5a, calculate the mean and standard deviation.

* **DATA_FOR_Q6**:
data_q6 = {'Value': [20, 15, 30, 40, 25, 18, 35, 42, 28, 22,18, 30, 45, 38, 20, 32, 28, 35, 40, 15,25, 38, 22, 18, 30, 25, 40, 35, 28, 22, 18, 30, 45, 38, 20, 32, 28, 35, 40, 15,25, 38, 22, 18, 30, 25, 40, 35, 28, 22]}
                      
  date_range_for_index = pd.date_range(start='2022-01-01', periods=len(data_q6['Value']), freq='D')

* **Q6.** Given a Pandas DataFrame with a datetime index and a 'Value' column, resample the data to a weekly frequency and calculate the average value for each week.